
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/repository/postgres/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:7-jammy
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # user-service:
  #   image: user-service
  #   ports:
  #     - "50051:50051"
  #     - "8080:8080"
  #   environment:
  #     APP_ENV: "development"
  #     GRPC_PORT: 50051
  #     HTTP_PORT: 8080
  #     POSTGRES_HOST: postgres
  #     POSTGRES_PORT: 5432
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: users
  #     POSTGRES_SSLMODE: disable
  #     MONGO_URI: mongodb://mongodb:27017
  #     MONGO_DATABASE: userservice
  #     JWT_SECRET: "your-super-secret-jwt-key-change-in-production"
  #     JWT_EXPIRY: "24h"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     mongodb:
  #       condition: service_healthy
  #   healthcheck:
  #     test: ["CMD", "grpc_health_probe", "-addr=localhost:50051"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 3

volumes:
  postgres_data:
  mongo_data:
  redis_data: